/* common */
body {
    font-family: 'Noto Sans JP', sans-serif;
}

.container {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
}

/* header */
header {
    padding: 29px 20px 28px 20px;
}

header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header #contact-info > p {
    font-size: 1.4rem;
    padding-bottom: 7px;
}
header #contact-info > .phone {
    font-size:2.4rem;
    text-align: right;
    font-weight: bold;
    line-height: 1;
}
header #contact-info > .phone a {
    color: #21A937;
}

/* firstview */
#firstview {
    background-image: url(../img/fv.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 947px;
    object-fit: cover;
}

#firstview  #firstview-comment {
    display: flex;
    max-width: 1498px;
    margin: 0 211px;
    padding-top: 133px;
}

#firstview  #firstview-comment p {
    writing-mode: vertical-rl;
    background: #fff;
    font-size: 2.8rem;
    padding-top: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    letter-spacing: 5px;
    width: 102px;
    height: 565px;
}
#firstview  p:first-child {
    order: 2;
}
#firstview  p:last-child {
    order: 1;
    margin-right: 80px;
}

#firstview  p span {
    color: #21A937;
}


/* clinic */
#clinic > .container {
    display: flex;
    padding: 162px 0 82px;
    justify-content: space-between;
    flex-wrap: wrap;
}

#clinic .clinic-explanation {
    padding-left: 31px; 
    padding-top: 31px;
}

#clinic .clinic-explanation h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.4;
}

#clinic .clinic-explanation h1 span {
    background: linear-gradient(transparent 50%, #99E5A5 50%);
}

#clinic .clinic-explanation p {
    font-size: 1.6rem;
    width: 415px;
    height: 138px;
    color: #444444;
    margin-top: 37px;
    line-height: 2;
}

/* treatment */
#treatment{
    background: #F5FCF8;
}

#treatment #treatment-heading {
    text-align: center;
}

#treatment #treatment-heading h1 {
    font-size: 2.4rem;
    font-weight: bold;
    padding: 78px 0 70px;
}

#treatment #treatment-heading h1 span {
    background: linear-gradient(transparent 50%, #99E5A5 50%);
}

#treatment #treatment-heading p{
    font-size: 1.6rem;
    padding-bottom: 34px;
}
#treatment #treatment-heading p br {
    display: none;
}

#treatment-contents {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}
#treatment-contents .treatment-contents__part {
    width: 380px;
    height: 591px;
    text-align: center;
    position: relative;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #C9C9C9;
    border-radius: 10px;
}
#treatment-contents .treatment-contents__part h2 {
    font-size: 2.4rem;
    font-weight: bold;
    padding-top: 40px;
}
#treatment-contents .treatment-contents__part p {
    font-size: 1.6rem;
    display: inline-block;
    text-align: left;
    padding-top: 45px;
}
#treatment-contents .treatment-contents__part img {
    width: 187px;
    height: 187px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}


/* info */
#info {
    background: #F5FCF8;
    display: block;
    padding: 82px 0 112px;
}

#info h1 {
    font-size: 2.4rem;
    font-weight: bold;
    text-align: center;
    padding-bottom: 70px;
}

#info h1 span {
    background: linear-gradient(transparent 50%, #99E5A5 50%);
}

#info #info-container {
    background: #fff;
    border-radius: 30px;
    box-shadow: 0px 3px 6px #00000029;
    height: 390px;
    padding: 49px 66px 0;
}

#info .info-contens {
    display: flex;
    padding-bottom: 19.5px;
    width: 1048px;
    border-bottom: 2px solid #E7E7E7;
    font-weight: bold;
    gap: 30px;
}

#info .info-contens > div{
    display: flex;
    gap: 30px;
}

#info .info-contens + .info-contens {
    padding-top: 19.5px;
}
#info .info-contens .info-contens__date {
    font-size: 1.6rem;
    color: #21A937;
}

#info .info-contens .info-contents__category {
    font-size: 1.2rem;
    background: #444444 0% 0% no-repeat padding-box;
    color: #FFFFFF;
    width: 80px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    flex-shrink: 0;
}

#info .info-contens p {
    font-size: 1.6rem;
    display: block;
    flex-grow: 1;
}

#info #info-btn {
    text-align: right;
    font-size: 1.6rem;
    color: #444444;
    padding-top: 39.5px;
    font-weight: bold;
    position: relative;
}

#info #info-btn::before  {
    content: '';
    position: absolute;
    top: 44px;
    right: -27px;
    border-top: 7px solid transparent;
    border-right: 10px solid transparent;
    border-left: 10px solid #444;
    border-bottom: 7px solid transparent;
    font-size: 0;
}


/* footer */
footer > .container {
    display: flex;
    margin: 196px auto 163px;
    gap: 34px;
    position: relative;
}

footer #contact > img {
    padding-bottom: 25px;
}

footer #contact #address {
    display: flex;
    padding-bottom: 25px;
    font-size: 1.6rem;
}
footer #contact #address p + p {
    margin-left: 16px;
}

footer #contact .phone {
    font-size:2.4rem;
    text-align: left;
    font-weight: bold;
    padding-bottom: 28.5px;
    line-height: 1;
}

footer #contact .phone a {
    color: #21A937;
}

footer #contact #date-time {
    width: 533px;
    color: #444444;
    font-size: 1.4rem;
    table-layout: fixed;
    border-top:  2px solid #E7E7E7;
    border-bottom:  2px solid #E7E7E7;
    padding-top: 21.5px;
    padding-bottom: 23.5px;
}

footer #contact .consultation-time {
    margin-bottom: 31px;
}

footer #contact .consultation-time tr th {
    border-right:  2px solid #E7E7E7;
    width: 84.5px;
}

footer #contact .consultation-time tr:nth-of-type(2) td {
    padding-top: 13px;
}

footer #contact .consultation-time tr:nth-of-type(3) td {
    padding-top: 13px;
}

footer #contact .consultation-time tr td:nth-of-type(1) {
    /* padding-left: 28.5px; */
    /* width: 42px; */
    width: 70.5px;
    text-align: right;
}

footer #contact .consultation-time tr td:nth-of-type(2) {
    /* padding-left: 23px; */
    /* width: 101px; */
    width: 124px;
    text-align: right;
}

footer #contact .consultation-time tr td:nth-of-type(3) {
    padding-left: 17px;
    /* width: 109px; */
}

footer #contact .consultation-time tr td span {
    background: linear-gradient(transparent 50%, #99E5A5 50%);
}



footer #contact .closed-days tr th {
    border-right:  2px solid #E7E7E7;
    width: 84.5px;
}

footer #contact .closed-days tr td {
    padding: 0 0 0 28.5px;
}

footer small {
    font-size: 1.1rem;
    display: block;
    position: absolute;
    right: 0;
    bottom: 14px;
}



@media (max-width:1800px) {

    /* firstview */
    #firstview {
        background-position: 70%;
        width: 100%;
    }
}



@media (max-width:1600px) {
    /* firstview */
    #firstview {
        background-position: 80%;
    }
}

@media (max-width:1500px) {
    /* firstview */
    #firstview {
        background-position: 80%;
    }

    #firstview  #firstview-comment {
        margin: 0 150px;
    }
}

@media (max-width:1194px){
    /* firstview */
    #firstview  #firstview-comment {
        margin: 0 100px;
    }

    /* clinic */
    #clinic > .container {
        display: flex;
        padding: 130px 0 82px;
        justify-content: center;
    }


    #clinic .clinic-explanation {
        padding-left: 0; 
        padding-top: 0;
        width: 100%;
        text-align: center;
    }

    #clinic .clinic-explanation p {
        margin: 21px auto 30px;
        text-align: left;
    }

    /* treatment */
    #treatment-contents {
        width: 690px;
        margin: 0 auto;
        gap: 34px;
    }

    #treatment-contents .treatment-contents__part {
        display: flex;
        width: 100%;
        height: 300px;
        justify-content: space-between;
    }

    #treatment-contents .treatment-contents__part p {
        padding-left: 20px;
    }

    #treatment-contents .treatment-contents__part img {
        width: 187px;
        height: 187px;
        position: static;
        margin-top: 60px;
    }

    /* info */
    #info #info-container {
        margin: 0 50px;
        height: 100%;
    }

    #info .info-contens {
        display: flex;
        padding-bottom: 19.5px;
        width: 100%;
        font-weight: bold;
    }


    #info #info-btn {
        padding-bottom: 20px;
        padding-top: 20px;
    }
    
    #info #info-btn::before  {
        top: 25px;
        right: -27px;
    }


    /* footer */
    footer > .container {
        flex-direction: column;
        margin: 100px auto 80px;
        align-items: center;
    }

    footer #googlemap {
        order: 2;
    }

    footer #contact {
        order: 1;
        text-align: center;
    }

    footer #contact #address {
        display: flex;
        flex-direction: column;
    }
    footer #contact #address p + p {
        margin-left: 0;
    }

    footer #contact .phone {
        text-align: center;
    }

    footer small {
        width: 100%;
        text-align: center;
        font-size: 1.6rem;
        bottom: -45px;
    }
}

@media (max-width:1024px){
    /* firstview */
    #firstview {
        background-position: 70%;
        height: 700px;
    }

    #firstview  #firstview-comment {
        margin: 0 50px;
        padding-top: 200px;
    }

    #firstview  #firstview-comment p {
        font-size: 1.6rem;
        padding-top: 18px;
        width: 70px;
        height: 350px;
    }

    #firstview  p:last-child {
        margin-right: 40px;
    }
}


@media (max-width:768px){
    /* header */
    header {
        padding: 29px 10px 28px 10px;
    }

    header h1 img {
        width: 80%;
        height: 80%;
    }

    header #contact-info > p {
        font-size: 1.1rem;
    }
    
    header #contact-info > .phone {
        font-size:1.6rem;
        text-align: center;
    }

    /* clinic */
    #clinic > .container {
        padding: 82px 0 82px;
    }

    #clinic .clinic-explanation {
        padding-left: 0; 
        padding-top: 0;
        width: 100%;
        text-align: center;
    }

    #clinic .clinic-explanation h1 {
        font-size: 1.6rem;
        line-height: 1.6;
    }

    #clinic .clinic-explanation p {
        font-size: 1.1rem;
        width: 290px;
        height: 90px;
    }

    #clinic > .container img {
        width: 70%;
        height: 70%;
    }

    /* treatment */
    #treatment #treatment-heading h1 {
        font-size: 1.6rem;
        padding: 50px 0 50px;
    }

    #treatment #treatment-heading p{
        font-size: 1.1rem;
    }

    #treatment-contents {
        width: 300px;
        margin: 0 auto;
        gap: 20px;
    }

    #treatment-contents .treatment-contents__part {
        flex-direction: column;
        width: 100%;
        height: 350px;
        justify-content: space-between;
        align-items: center;
    }

    #treatment-contents .treatment-contents__part h2 {
        font-size: 1.6rem;
        font-weight: bold;
        padding-top: 30px;
    }

    #treatment-contents .treatment-contents__part p {
        padding-left: 0;
        font-size: 1.1rem;
    }

    #treatment-contents .treatment-contents__part img {
        width: 130px;
        height: 130px;
        position: absolute;
        margin-top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    /* info */
    #info #info-container {
        margin: 0 50px;
        height: 100%;
    }

    #info .info-contens {
        padding-bottom: 10px;
    }

    #info .info-contens > div{
        flex-direction: column;
        gap: 0;
    }

    #info .info-contens .info-contents__category {
        margin: 0 auto;
        width: 90px;
        height: 24px;
    }

    #info #info-btn {
        padding-bottom: 20px;
        padding-top: 20px;
    }
    
    #info #info-btn::before  {
        top: 25px;
        right: -27px;
    }

    footer #googlemap iframe {
        width: 400px;
        height: 400px;
    }

    footer #contact #date-time {
        width: 400px;
        font-size: 1.1rem;
    }

    footer #contact .consultation-time {
        margin-bottom: 25px;
    }

    footer #contact .consultation-time tr th {
        width: 80px;
    }
    
    footer #contact .consultation-time tr:nth-of-type(2) td {
        padding-top: 10px;
    }
    
    footer #contact .consultation-time tr:nth-of-type(3) td {
        padding-top: 10px;
    }

    footer #contact .consultation-time tr td:nth-of-type(2) {
        padding-left: 15px;
        text-align: center;
    }

    footer #contact .consultation-time tr td:nth-of-type(3) {
        padding-left: 10px;
    }
    
    footer #contact .closed-days tr th {
        width: 80px;
    }
    
}



@media (max-width:599px){
    /* header */
    header > .container {
        flex-direction: column;
        align-items: center;
    }
    
    header h1 {
        text-align: center;
    }
    header h1 img {
        width: 50%;
        height: 50%;
    }

    header {
        padding: 10px;
    }

    /* firstview */
    #firstview {
        height: 400px;
    }

    #firstview  #firstview-comment {
        margin: 0 20px;
        padding-top: 170px;
    }

    #firstview  #firstview-comment p {
        font-size: 1.1rem;
        padding-top: 10px;
        width: 40px;
        height: 210px;
        letter-spacing: 2px;
    }

    #firstview  p:last-child {
        margin-right: 20px;
    }

    /* clinic */
    #clinic > .container {
        padding: 70px 0 50px;
    }

    #clinic .clinic-explanation p {
        width: 270px;
        height: 90px;
    }

    #clinic .clinic-explanation p br {
        display: none;
    }

    #clinic > .container img {
        width: 90%;
        height: 90%;
    }

    /* treatment */
    #treatment #treatment-heading h1 {
        padding: 50px 0 20px;
    }

    #treatment #treatment-heading p br{
        display: inline;
    }

    #treatment-contents {
        width: 250px;
    }

    /* info */
    #info #info-container {
        margin: 0 10px;
        height: 100%;
        padding: 49px 20px 0;
    }

    #info .info-contens {
        padding-bottom: 10px;
        gap: 20px;
    }

    #info .info-contens > div{
        flex-direction: column;
        gap: 0;
    }

    #info .info-contens p {
        font-size: 1.1rem;
        display: block;
        flex-grow: 1;
    }

    #info .info-contens .info-contens__date {
        font-size: 1.1rem;
    }

    #info .info-contens .info-contents__category {
        width: 60px;
        height: 20px;
        font-size: 1rem;
        line-height: 2;
    }

    #info #info-btn {
        font-size: 1.1rem;
    }
    
    #info #info-btn::before  {
        top: 24px;
        right: -17px;
        border-top: 5px solid transparent;
        border-right: 8px solid transparent;
        border-left: 8px solid #444;
        border-bottom: 5px solid transparent;
    }

    footer #googlemap iframe {
        width: 300px;
        height: 300px;
    }

    footer #contact > img {
        padding-bottom: 15px;
        width: 50%;
        height: 50%;
    }
    
    footer #contact #address {
        padding-bottom: 15px;
        font-size: 1.1rem;
    }
    
    footer #contact .phone {
        font-size: 1.6rem;
        padding-bottom: 20px;
    }

    footer #contact #date-time {
        width: 300px;
    }

    footer #contact .consultation-time {
        margin-bottom: 25px;
    }

    footer #contact .consultation-time tr th {
        width: 60px;
        text-align: center;
    }
    
    footer #contact .consultation-time tr:nth-of-type(2) td {
        padding-top: 5px;
    }
    
    footer #contact .consultation-time tr:nth-of-type(3) td {
        padding-top: 5px;
    }

    footer #contact .consultation-time tr td:nth-of-type(1) {
        width: 56px;
        text-align: right;
    }

    footer #contact .consultation-time tr td:nth-of-type(2) {
        padding-left: 15px;
        width: 69px;
    }

    footer #contact .consultation-time tr td:nth-of-type(3) {
        padding-left: 10;
        width: 69px;
    }
    
    footer #contact .closed-days tr th {
        width: 60px;
        text-align: center;
    }

    footer #contact .closed-days tr td {
        padding-left: 20px;
    }

    footer small {
        width: 100%;
        text-align: center;
        font-size: 1.1rem;
        bottom: -45px;
    }

}